<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须指向你的 Mapper 接口全类名 -->
<mapper namespace="org.example.takeout.Product.Mapper.ProductMapper">
    <update id="restoreDeletedProduct">
        UPDATE product
        SET is_deleted = 0,
            status = #{offSaleStatus},
            version = version + 1
        WHERE id = #{id}
          AND merchant_id = #{merchantId}
          AND is_deleted != 0
    </update>
</mapper>
