<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须指向你的 Mapper 接口全类名 -->
<mapper namespace="org.example.takeout.Product.Mapper.ProductMapper">
    <update id="restoreDeletedProduct">
        UPDATE product p1
        SET p1.is_deleted = 0
        WHERE p1.id = #{id}
          AND p1.merchant_id = #{merchantId}
          AND p1.is_deleted != 0
      AND NOT EXISTS (
          SELECT 1
          FROM (SELECT product_name, merchant_id
      FROM product
      WHERE is_deleted = 0
        AND merchant_id = #{merchantId}) p2
          WHERE p2.product_name = p1.product_name
            AND p2.merchant_id = p1.merchant_id
      )
    </update>
</mapper>
